name:  Auto_ErfanGSI IN GitHub
on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]
    
env:
  ROM_URL: https://hugeota.d.miui.com/20.11.26/miui_TUCANA_20.11.26_d295b99f5e_11.0.zip
  ROM_NAME: Pixel For Android 11
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
       - name: Checkout
         uses: actions/checkout@master
       
       - name: Clean Up
         run: |
           docker rmi `docker images -q`
           sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d 
           sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
           sudo -E apt-get update
           sudo -E apt-get -y autoremove --purge
           sudo -E apt-get clean 
           
       - name: Initialization environment
         run: |
            sudo -E apt-get -qq update
            sudo -E apt-get -qq install git openjdk-8-jdk wget
       
       - name: Clone Source Code
         run: git clone --recurse-submodules https://github.com/laohan233/ErfanGSIs.git
       
       - name: Setting up ErfanGSI requirements
         run: |
              sudo chmod -R 777 ErfanGSIs
              cd ErfanGSIs
              sudo bash setup.sh
              sudo sed -i '7c AB=true' url2GSI.sh
              sudo sed -i '8c Aonly=false' url2GSI.sh
       - name: Download Rom/下载ROM & Generate A/B GSI/制作A/B ErfanGSI
         run: sudo ./ErfanGSIs/url2GSI.sh $ROM_URL $ROM_NAME AB
       
       - name: ZIP GSI /打包GSI
         run: |
              mkdir final
              zip -r final/GSI_Auto.zip /home/runner/work/Auto_ErfanGSI IN GitHub/Auto_ErfanGSI IN GitHub/ErfanGSIs/output/
       
       - name: Upload GSI to WeTransfer/下载地址为WeTransfer
         run: |
              curl -sL https://git.io/file-transfer | sh
              ./transfer wet final/GSI_Auto.zip
